.choose__main{
   /* background: radial-gradient(circle at 50% 50%, rgba(225, 227, 222, 1) 46%, rgba(201, 209, 210, 1) 100%, rgba(173, 153, 173, 1) 100%); */
   background: #f7f7f9;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   margin: 5rem auto;
   max-width: 500px;
   border-radius: 3px;
}
.choose__main-spec1{
   flex: 1;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}
.choose__main-spec1 p{
color: #000;
font-family: Inter;
font-size: 24px;
font-weight: 800;
}
.choose__main-spec1 select{
   flex-shrink: 0;
   font-family: Inter;
   font-size: 18px;
   font-weight: 800;
   width: 20rem;
   height: 2rem;
   background: #F4F4F4;
   color: #006FD4;
   font-family: Inter;
   border: 1px solid rgb(200, 197, 197);
   border-radius: 5px;
   }

.choose__main-spec2{
   width: 100%;
   height: 100%;
   flex: 1;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

}
.choose__main-spec2 p{
   color: #000;
   font-family: Inter;
   font-size: 24px;
   font-weight: 800;
}
.choose__main-spec2 select{
   flex-shrink: 0;
   background: #f4f4f4;
   font-family: Inter;
   font-size: 18px;
   font-weight: 800;
   width: 20rem;
   height: 2rem;
   color: #006FD4;
   font-family: Inter;
   border: 1px solid rgb(200, 197, 197);
   border-radius: 5px;
}

.choose__main-spec3{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

}
.choose__main-spec3 p{
   color: #000;
   font-family: Inter;
   font-size: 24px;
   font-weight: 800;
}
.choose__main-spec3 select{
   flex-shrink: 0;
   background: #f4f4f4;
   font-family: Inter;
   font-size: 18px;
   font-weight: 800;
   width: 20rem;
   height: 2rem;
   color: #006FD4;
   font-family: Inter;
   border: 1px solid rgb(200, 197, 197);
   border-radius: 5px;
}
.choose__main-btn{
   width: 100%;
   height: 100%;
   flex: 1;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-bottom: 5px;
}
.choose__main-btn button{
   border-radius: 6px;
   background: #2D90D2;
   width: 100%;
   height: 100%;
   border: none;
   padding: 0.5rem;
   margin-top: 1rem;
}

@media screen and (max-width:550px){
   .choose__main-spec1 p,.choose__main-spec2 p,.choose__main-spec3 p{
      font-size: 20px;
   }
   .choose__main-spec1 select, .choose__main-spec2 select, .choose__main-spec3 select{
      width: 70%;
   }
}
@media screen and (max-width:350px){
   .choose__main{
      width: 95%;
   }
   .choose__main-spec1 p,.choose__main-spec2 p,.choose__main-spec3 p{
      font-size: 18px;
   }
   .choose__main-spec1 select, .choose__main-spec2 select, .choose__main-spec3 select{
      width: 65%;
   }
}